/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 27 may. 2025, 8:42:41 p. m.
    Author     : nicoc
*/


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(250deg, black, #363742);
    height: 100vh;
}

.formulario {
    margin: 0 auto;  
    width: 430px;
    background: white;
    border-radius: 10px;
    padding: 20px 0;           
}
.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}


.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
    
}

form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0c1490
}

.username input:focus ~ label,
.username input:valid ~ label {
    top: -5px;
    color: #0c1490;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%
}

.recordar{
    margin: -5px 0 20px 5px ;
    color: blue;
    cursor: pointer;
}
.recordar:hover{
    text-decoration: underline;
}
input[type="submit"] {
    margin: 0 auto; 
  background-color: #2a5a78; 
  color: white;
  padding: 32px 140px;
  border: none;
  border-radius: 38px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

input[type="submit"]:hover {
  background-color: #1e3e57; /* Un azul más oscuro al pasar el mouse */
  transform: scale(1.03);
}

input[type="submit"]:active {
  background-color: #162d40;
  transform: scale(0.98);
}

.registrarse{
    margin: 30px;
    text-align: center;
    font-size: 16px;
    color: black;
    
}

h1 {
  font-size: 36px;
  color: #2a5a78; /* Azul oscuro llamativo */
  text-align: center;
  margin-top: 40px;  /* 👈 Espacio arriba */
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


 





